{% extends "base.html" %}

{% block content %}
<h1>Изменение профиля</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p style="margin-bottom: .5rem;">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
    </p>
    <p>
        {{ form.email.label }}
        {{ form.email(class="form-control", type="email") }}
    </p>
    <p style="margin-bottom: .5rem;">
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }}
    </p>
    <p>
        {{ form.password_again.label }}
        {{ form.password_again(class="form-control", type="password") }}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
    <h5 style="color: rgb(255, 0, 0); margin-top: 0;">{{message}}</h5>
</form>
{% endblock %}